.App {
    margin-left: 20%;
}



.header {
    input {
        width: 60%;
        height: 30px;
        padding: 8px 16px;
    }
    button {
        height: 50px;
        padding: 0 20px;
    }
}

