
.flex {
    display: flex;
}

.row {
    display: flex;
    border-left: 3px solid #170F23;
    border-bottom: 1px solid hsla(0,0%,100%,0.05);
}

.row:hover {
    background-color: #393243;
    opacity: 1;
    border-left: 3px solid #71149F;;
}

.flex-col {
    flex-direction: column;
}

.flex-every {
    justify-content: space-between;
}

.f-12 {
    font-size: 12px;
    color: hsla(0,0%,100%,0.5);
}

.f-54 {
    font-size: 54px;
}

.pd-10 {
    padding: 10px;
}



body {
    background-color: #170F23;
    color: #fff;
}

.App {
    margin: 16px 32px;
}

.song {
    flex: 2;
}

.album {
    flex: 2.9;
}

.top {
    flex: 0.5;
}

.card-info {
    flex: 2;
}

.album-info {
    flex: 3;
    line-height: 60px;
}

.title {
    font-size: 16px;
    font-weight: 500;
}

.album-info {
    p {
        font-size: 12px;
        color: hsla(0,0%,100%,0.5);
    }
}

.img-artist {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    margin-right: 5px;
}

.row:hover {
    .img-artist {
        opacity: 1;
    }
}

.times {
    line-height: 60px;
}
